server {
     listen   80;
     server_name  192.168.0.103;

     access_log  /var/log/nginx/bigbluebutton.access.log;

	 # Handle RTMPT (RTMP Tunneling).  Forwards requests
	 # to Red5 on port 8088.
      location ~ (/open/|/close/|/idle/|/send/) {
          proxy_pass         http://127.0.0.1:8088;
          proxy_redirect     off;
          proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;

          client_max_body_size       10m;
          client_body_buffer_size    128k;

          proxy_connect_timeout      90;
          proxy_send_timeout         90;
          proxy_read_timeout         90;

          proxy_buffering            off;
      }0
:
ges to run this script
You need root privileges to run this script
Stopping nginx: nginx.
You need root privileges to run this script
You need root privileges to run this script

Starting FreeSWITCH
start-stop-daemon: stat /opt/freeswitch/bin/freeswitch: Permission denied (Permi                                                                             ssion denied)
You need root privileges to run this script
Waiting for ActiveMQ to start:
Waiting for FreeSWITCH to start:
You need root privileges to run this script
Starting nginx: [alert]: could not open error log file: open() "/var/log/nginx/e                                                                             rror.log" failed (13: Permission denied)
2011/07/20 21:49:46 [warn] 18002#0: the "user" directive makes sense only if the                                                                              master process runs with super-user privileges, ignored in /etc/nginx/nginx.con                                                                             f:1
the configuration file /etc/nginx/nginx.conf syntax is ok
2011/07/20 21:49:46 [emerg] 18002#0: open() "/var/run/nginx.pid" failed (13: Per                                                                             mission denied)
configuration file /etc/nginx/nginx.conf test failed
You need root privileges to run this script
You need root privileges to run this script
Waiting for BigBlueButton to finish starting up (this may take a minute): bbb-common message start                                                           

jiojiojjjjjjjjiop 'u890 iomji jkgyuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
	 # Handle desktop sharing tunneling.  Forwards
	 # requests to Red5 on port 5080.
       location /deskshare {
           proxy_pass         http://127.0.0.1:5080;
           proxy_redirect     default;
           proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
           client_max_body_size       10m;
           client_body_buffer_size    128k;
           proxy_connect_timeout      90;
           proxy_send_timeout         90;
           proxy_read_timeout         90;
           proxy_buffer_size          4k;
           proxy_buffers              4 32k;
           proxy_busy_buffers_size    64k;
           proxy_temp_file_write_size 64k;
           include    fastcgi_params;
       }

	 # Handle request to bbb-web running within Tomcat.  This is for
	 # the BBB-API and Presentation.
       location /bigbluebutton {
           proxy_pass         http://127.0.0.1:8080;
           proxy_redirect     default;
           proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;

	# Allow 30M uploaded presentation document.
           client_max_body_size       30m;
           client_body_buffer_size    128k;

           proxy_connect_timeout      90;
           proxy_send_timeout         90;
           proxy_read_timeout         90;

           proxy_buffer_size          4k;
           proxy_buffers              4 32k;
           proxy_busy_buffers_size    64k;
           proxy_temp_file_write_size 64k;

           include    fastcgi_params;
       }

	# BigBlueButton landing page.
        location / {
          root   /var/www/bigbluebutton-default;
          index  index.html index.htm;
        }

	# BigBlueButton.html is here so we can expire it every 1 minute to
        # prevent caching.
        location /client/BigBlueButton.html {
                root    /var/www/bigbluebutton;
                index  index.html index.htm;
                expires 1m;
        }

	# BigBlueButton Flash client.
        location /client {
                root    /var/www/bigbluebutton;
                index  index.html index.htm;
        }

	# Include specific rules for record and playback
        include /etc/bigbluebutton/nginx/*;

        #error_page  404  /404.html;

        # Redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
                root   /var/www/nginx-default;
        }
}

